<% provide :title, t(".About") %>

<h1><%= t ".About" %></h1>
<p>
  <%= t ".the"%>
  <a href="http://www.railstutorial.org/">
    <em>
      <%= t "static_pages.home.tutorial_ruby" %>
    </em>
  </a>
  <%= t ".is_a" %>
  <%= link_to  t(".book"), "http://www.railstutorial.org/book" %>
  <%= t ".and" %>
  <%= link_to  t(".screencast_series"), "http://screencasts.railstutorial.org/" %>
  <%= t ".to_teach_web_development_with" %>
  <%= link_to  t(".Ruby_on_Rails"), "http://rubyonrails.org/" %>.
  <%= t ".This_is_the_sample_application_for_the_tutorial" %>.
</p>
