<% provide :title, t(".Help") %>

<h1><%= t ".Help" %> </h1>
<p>
  <%= t ".Get_help_on_the_Ruby_on_Rails_Tutorial_at_the" %>
  <%= link_to  t(".Get_help_on_the_Ruby_on_Rails_Tutorial_at_the"), "http://www.railstutorial.org/help" %>.
  <%= t ".To_get_help_on_this_sample_app,_see_the" %>
  <a href="http://www.railstutorial.org/book">
    <em>
      <%= t "static_pages.home.tutorial_ruby" %>
    </em>
    <%= t "static_pages.about.book" %>
  </a>.
</p>
